{% extends "base.html" %}
{% block content %}
<h1>Getting Started</h1>

<h3>Step 1</h3>

Download the code: <pre>$ git clone https://bitbucket.org/battlemidget/cage.git</pre>

<h3>Step 2</h3>

Install a skeleton project: <pre>$ ./path/to/cage/claw new "project name"</pre>

<h3>Step 3</h3>

Run the skeleton project to see a demo: <pre>$ ./projectname/claw project --runserver --foreground</pre>

<h3>Step 4</h3>

Visit site: <pre>http://localhost:10001</pre>

<h4>More Information and Help</h4>
Have a look at <a href="https://bitbucket.org/battlemidget/cage/wiki/Home">the wiki</a> for additional
information.

{% end %}
