<div class="pull-right">
    <ul class="nav nav-pills">
        <li class="dropdown" id="globalmenu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#globalmenu">Code<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="https://bitbucket.org/battlemidget/cage/src">browse git</a></li>
                <li><a href="https://bitbucket.org/battlemidget/cage/issues?status=new&status=open">issues</a></li>
                <li><a href="https://bitbucket.org/battlemidget/cage/get/website.tar.gz">download this website code</a></li>
                <li><a href="https://bitbucket.org/battlemidget/cage/get/master.tar.gz">download bleeding edge</a></li>
            </ul>
        </li>
    </ul>
</div>
