{% extends "base.html" %}
{% block content %}
<div class="well">
    <p>{% if len(errmsg) > 0 %}
    {{ errmsg }}
    {% end %}
    </p>
    <h3>Register an Account</h3>
    <form method="POST" action="/auth/register">{% raw xsrf_form_html() %}
    <p>
    Name:<br />
    <input type="text" name="username" size="25" />
    </p>
    <p>
    Password: <br />
    <input type="password" name="password" size="25" /><br />
    Confirm Password: <br />
    <input type="password" name="confirm_password" size="25" /><br />
    </p>
    <input type="submit" value="Register" />
    </form>
</div>
{% end %}
